.phone{
    background-color: black;
    height: 50em;
    width: 30em;
    right: 100em;
    border-radius: 33px;
    border: solid white 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.saving{
    background-color: #990000;
    height: 5em;
    width: 20em;
    right: 100em;
    border-radius: 33px;
    border: solid white 3px;
    position: absolute;
    left: 70%;
    top: 20%;
    transform: translate(-30%, -50%);
}

.chequing{
    background-color: #990000;
    height: 5em;
    width: 20em;
    right: 100em;
    border-radius: 33px;
    border: solid white 3px;
    position: absolute;
    left: 70%;
    top: 31%;
    transform: translate(-30%, -50%);
}

.investor{
    background-color: #990000;
    height: 5em;
    width: 20em;
    right: 100em;
    border-radius: 33px;
    border: solid white 3px;
    position: absolute;
    left: 70%;
    top: 42%;
    transform: translate(-30%, -50%);
}

.h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    font-weight: 100;
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
}